**/Assets/ExampleAssets/
**/Assets/PolygonMilitary/
**/Assets/StarterAssets/
**/Assets/TextMesh Pro/
**/Assets/TutorialInfo/
**/Library/
**/Logs/
**/UserSettings/
**/obj/
**/Temp/
Assembly-CSharp-Editor.csproj
.vsconfig
Assembly-CSharp.csproj
Assembly-CSharp.Player.csproj
My project.sln
*.suo
*.meta
*.preset
